<% layout("layout/boilerplate") %>
<script>
   const mapToken = "<%= process.env.MAP_TOKEN %>";
   const listing = <%- JSON.stringify(d) %>;
</script>

<body>
  <!-- Centering the row content using Bootstrap classes -->
  <div class="container">
    <div class="row justify-content-center">

  
     

      <!-- Listing Card -->
      <div class="card listing-card col-12 col-md-8 col-lg-6 mx-auto">
        <div class="col-12 ">
          <h3 ><%= d.title %></h3>
        </div>
        <img src="<%= d.image.url %>" class="card-img-top" alt="...">
        <div class="card-body mt-1">
          <p class="card-text" style="margin-top:-15px;"><i>Owned By: <%= d.owner.username %></i></p>
          <p class="card-text" style="margin-top:-15px;"><%= d.description %></p>
          <p class="card-text" style="margin-top:-13px;">&#8377;<%= d.price %></p>
          <p class="card-text" style="margin-top:-15px;"><%= d.location %></p>
          <p class="card-text" style="margin-top:-15px;"><%= d.country %></p>
          <p class="card-text" style="margin-top:-15px;">Category: <%= d.category %></p>
        </div>

        <!-- Actions (Edit/Delete) -->
        <div class="row justify-content-center">
          <% if (curruser && curruser._id.equals(d.owner._id)) { %>
            <form method="get" action="/listing/<%= d._id %>/edit" class="col-4">
              <button  style="background-color: rgb(233, 40, 40);margin-left:-4.5rem; color:White;"class="btn btn-red ">Edit</button>
            </form>
            <form method="post" action="/listing/<%= d._id %>?_method=DELETE" class="col-4">
              <button style="background-color: rgb(70, 66, 66); margin-left:-9rem;color:white;" class="btn btn-dark w-60 ">Delete</button>
            </form>
          <% } %>
        </div>
      </div>

      <hr>

      <!-- Review Form -->
      <% if (curruser) { %>
        <form class="needs-validation" novalidate method="post" action="/listing/<%= d._id %>/review" style="margin-left:10rem;">
          <div class="row justify-content-center">
            <div class="col-12 col-md-8">
              <h6>Leave a Review</h6>
              <br>
              <label for="rating">Rating</label>
              <br>
              <fieldset class="starability-slot">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              <div class="mb-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea name="review[comment]" id="comment" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Comment is required</div>
                <br>
                <button class="btn btn-dark " style="background-color: rgb(58, 56, 56);">Submit</button>
              </div>
            </div>
          </div>
        </form>
      <% } %>

      <!-- Display Reviews -->
      <% if (d.review.length > 0) { %>
        <p class="text-center"><b>All Reviews</b></p>
        <div class="row mt-4  col-lg-8 col-md-6" style="margin-left: 130px;">
        
        <% for (let rev of d.review) { %>
          <div class="card review-card "  style="margin-left: 1rem;margin-bottom: 1rem;" >
            <div class="card-body" >
              <p class="card-text">
                <h6>@<%= rev.author.username %></h6>
                <p class="starability-result" data-rating="<%= rev.rating %>"></p>
                <p><%= rev.comment %></p>
                <form method="post" action="/listing/<%= d._id %>/review/<%= rev._id %>?_method=DELETE">
                  <button class="btn btn-dark " style="background-color: rgb(58, 56, 56);">Delete</button>
                </form>
              </p>
            </div>
          </div>
        <% } %>
      </div>
      <% } %>

      <!-- Map -->
      <div class="row ms-5">
        <h6 class="text-center" style="margin-left:-12rem;">Where you'll be</h6>
        <div id="map" class="mx-auto" ></div>
      </div>

    </div> 
  </div> 

  <br>
  <script src="/js/map.js"></script>
</body>
